body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: flex;
}

#left, #right {
    height: 100vh;
}

// Left Side
#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    overflow: hidden;
}

#side-image {
    position: fixed;
    right: 65vw;
    height: 200vh;
    z-index: -1;
}

#logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw 0;
}

#bowl {
    color: white;
}

#cutlery {
    color: rgb(38, 117, 191);
}

#title {
    color: white;
    opacity: 100%;
}

// Right Side

#right {
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke
}

#site-description {
    padding: 4vh 4vw;
}

form {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px lightgrey;
}

#form-interior {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 350px;
    width: 25vw;
}

.form-input {
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

.form-input-full:valid, .pass-valid {
    border-color: green;
}

.form-input-full:invalid, .pass-invalid {
    border-color: red;
}

#login-div {
    display: flex;
    gap: 1vw;
}

#button-login {
    margin: auto 0 auto 0;
}