body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: flex;
}

#left, #right {
    height: 100vh;
}

// Left Side
#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
    overflow: hidden;
}

#side-image {
    position: fixed;
    right: 65vw;
    height: 150vh;
    z-index: -1;
}

#logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4vw 0;
}

#bowl {
    color: white;
}

#cutlery {
    color: rgb(38, 117, 191);
}

#title {
    color: white;
    opacity: 100%;
}

#photo-credit {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
}

#photo-credit > p > a, #photo-credit > p > a:visited {
    color: white;
}

// Right Side

#right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    justify-content: center;
    background-color: whitesmoke
}

form, #site-description, #div-login {
    padding-left: 4vmin;
}

#site-description {
    padding-bottom: 2vmin;
}

form {
    background-color: white;
    // width: 100%;
    display: flex;
    box-shadow: 5px 5px 5px lightgrey;
}

#form-interior {
    display: flex;
    flex-direction: column;
    padding: 2vh 0px;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 350px;
    width: 25vw;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 125%;
}

.form-input-full:valid, .pass-valid {
    border-color: green;
}

.form-input-full:invalid, .pass-invalid {
    border-color: red;
}

#button-submit {
    --button-color: rgb(84, 34, 28);
    border: 2px solid var(--button-color);
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 110%;
    margin-top: 25px;
}

#div-login {
    display: flex;
    gap: 1vw;
}

#link-login {
    margin: auto 0 auto 0;
}